#main_canvas {
  display: block;
}

#canvas_wrapper {
  visibility: hidden;
}
#main_canvas {
    border: 2px solid black;
}
#control_box {

}
body{
  overflow: hidden;
}
#main_wrapper {

}
#error_nickname {
  visibility: hidden;
}
* {
  unselectable: on;
}
