* {
  unselectable: on;
}

#mainCanvas {
  display: block;
  background-color: "#FFFFFF";
  border: 2px solid black;
}

#canvasWrapper {
  visibility: hidden;
}

#errorNickname, #errorServerName {
  visibility: hidden;
}

#save {
  float: top;
  width: 50px;
  height: 50px;
  display: table-cell;
  border:1px solid black;
  background-image: url("../static/save.png");
  background-size: 100% auto;
}

/* SOURCE: http://codepen.io/benague/pen/ugKit */
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* form header */
h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0;
  color: #fff;
  background-color: #507642;
  margin-bottom: 15px;
}
