#main_canvas {
  display: block;
  background-color: "#FFFFFF";
}

#canvas_wrapper {
  visibility: hidden;
}
#main_canvas {
    border: 2px solid black;
}
#control_box {
}
body{
  overflow: hidden;
}
#main_wrapper {

}
#error_nickname {
  visibility: hidden;
}
* {
  unselectable: on;
}
#save {
  float: top;
  width: 50px;
  height: 50px;
  display: table-cell;
  border:1px solid black;
  background-image: url("../static/save.png");
  background-size: 100% auto;
}
